// Colors
$color-1: #264653; // https://coolors.co/palette/264653-2a9d8f-e9c46a-f4a261-e76f51
$color-2: #2A9D8F;
$color-3: #E9C46A;
$color-4: #F4A261;
$color-5: #E76F51;
$white: #FFFFFF;
$black: #000000;
$gray: #8c8484;

// Breakpoints
$big-desktop: 1800px;
$big-desktop-boundary: 1799px;
$desktop: 1200px;
$desktop-boundary: 1199px;
$tablet-landscape: 900px;
$tablet-landscape-boundary: 899px;
$tablet-portrait: 600px;
$tablet-portrait-boundary: 599px;