.archive-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;

  .inner {
    .posts {
      .item {
        margin-bottom: 20px;
        grid-gap: 20px;
        @include for-tablet-portrait-up {
          grid-template-columns: 1fr 6fr;
        }

        @include for-tablet-portrait-down {
          grid-template-columns: auto;
        }

        .image, .image img {
          width: 150px;
          height: 150px;
        }

        .excerpt {
          h3, h2 {
            margin: 0;
          }

          h3.category-date {
            a {
              color: $color-1;
              text-decoration: none;

              &:hover {
                color: $color-4;
              }
            }
          }

          h2.title a {
            color: $color-1;
            text-decoration: none;

            &:hover {
              color: $color-4;
            }
          }

          .content-wrapper {
            a.read-more-link {
              color: $color-1;
              text-decoration: none;

              &:hover {
                color: $color-4;
              }
            }
          }
        }
      }
    }

    .paging {
      display: flex;
      flex-direction: row;
      gap: 10px;
      font-size: 1.2em;

      a.page-numbers {
        color: $color-2;
        text-decoration: none;

        &:hover {
          color: $color-4;
        }
      }
    }
  }
}