.comments {
  ol.commentlist {
    li {
      margin: 20px 0;
    }

    list-style-type: none;
    padding: 0;

    ul.children {
      list-style-type: none;
    }

    .comment {
      a {
        color: $color-1;
        text-decoration: none;

        &:hover {
          color: $color-5;
        }
      }
    }
  }

  .comment-form {
    > p {
      display: flex;
      flex-direction: column;
    }

    .comment-form-cookies-consent {
      display: block;
    }

    .form-submit {
      display: block;
    }
  }
}