.main-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: $color-1;

  .inner {
    display: flex;
    flex-direction: row;
    @include for-tablet-portrait-down {
      flex-direction: column;
    }

    justify-content: space-between;

    .main-menu-mobile-bar {
      display: none;
      background-color: $color-1;
      color: $white;
      padding: 13px 16px;
      transition: color 0.2s;
      cursor: pointer;

      &:hover {
        color: $color-3;
      }

      @include for-tablet-portrait-down {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 5px;
      }

      .menu-icon {
        font-size: 25px;
        font-weight: normal;
      }

      span {
        font-size: 15px;
        font-weight: bold;
      }

      > .logo {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        a {
          display: block;

          img {
            display: block;
            max-width: 200px;
          }
        }
      }
    }

    > .logo {
      display: flex;
      @include for-tablet-portrait-down {
        display: none;
      }

      flex-direction: row;
      justify-content: center;
      align-items: center;
      a {
        display: block;

        img {
          display: block;
          max-width: 200px;
        }
      }
    }

    .menu {
      @include for-tablet-portrait-down {
        display: none;
      }

      > ul {
        display: flex;
        flex-direction: row;
        gap: 24px;
        @include for-tablet-portrait-down {
          flex-direction: column;
          gap: 5px;
        }

        list-style-type: none;
        padding: 0;
        margin: 0;

        > li.menu-item {
          display: flex;
          flex-direction: column;
          position: relative;
          padding: 10px 0;
          @include for-tablet-portrait-down {
            padding: 13px 16px;

            &:not(:last-child) {
              border-bottom: 1px solid $color-2;
            }
          }

          &.current_page_item {
            > a {
              color: $color-3;
            }
          }

          > a {
            font-size: 18px;
            text-decoration: none;
            color: $white;

            @include for-tablet-portrait-down {
              font-size: 12px;
            }

            &:hover {
              color: $color-3;
            }
          }

          &.menu-item-has-children {
            @include for-tablet-portrait-up {
              &:hover > ul.sub-menu {
                display: block;
              }

              > a {
                position: relative;
                top: -1px;

                &::after {
                  content: "\F282";
                  font-family: "bootstrap-icons" !important;
                  font-size: 20px;
                  padding-left: 6px;
                  position: relative;
                  top: 4px;
                }
              }

              > ul.sub-menu {
                display: none;
                position: absolute;
                top: 44px;
                list-style-type: none;
                padding: 0;
                margin: 0;
                background-color: $color-1;
                width: 220px;

                li {
                  padding: 15px 10px;

                  a {
                    text-transform: uppercase;
                    color: $white;
                    text-decoration: none;
                    font-size: 12px;
                    padding: 3px 0;

                    &:hover {
                      color: $color-3;
                    }
                  }
                }
              }
            }

            @include for-tablet-portrait-down {
              > ul.sub-menu {
                list-style-type: none;
                padding: 0;
                margin: 0;

                li {
                  padding: 10px 0;

                  a {
                    &::before {
                      content: "\F285";
                      font-family: "bootstrap-icons" !important;
                      font-size: 15px;
                      font-weight: lighter;
                      padding: 3px 10px 3px 0;
                      position: relative;
                      top: 2px;
                    }

                    color: $white;
                    text-decoration: none;
                    font-size: 12px;

                    &:hover {
                      color: $color-3;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}